@model AshutoshTest.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>
<br />
<div>
    <a asp-action="Index">Go to List</a>
</div>
<br />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="EmployeeName" class="control-label"></label>
        <input asp-for="EmployeeName" class="form-control" />
        <span asp-validation-for="EmployeeName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ShortName" class="control-label"></label>
        <input asp-for="ShortName" class="form-control" />
        <span asp-validation-for="ShortName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth" class="control-label"></label>
        <input asp-for="DateOfBirth" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Gender:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="Gender" value="Male" />
            <label class="form-check-label">
                Male
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="Gender" value="Female" />
            <label class="form-check-label">
                Female
            </label>
        </div>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Languages Known:</label>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" asp-for="EnglishKnown" /> English
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" asp-for="HindiKnown" /> Hindi
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" asp-for="GujaratiKnown" /> Gujarati
            </label>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
